body {
  background-color: honeydew;

  }
}

a {
  font-family: papyrus;
  color: dodgerblue;
}
a:hover {
  text-decoration: none;

}

.about {
  text-transform: uppercase;
  font-size: 15px;
  color: brown;
}

h1 {
  color: coral;
  font-family: papyrus;
}

h2 {
color: yellowgreen
}

p {
  font-style: ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}